$main-color: #aa271f;
$sub-color: #b9adac;

body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-rows: 8% 1fr 8%;
  grid-template-columns: 200px 1fr;
  height: 100vh;

  nav {
    position: sticky;
    grid-row: 2 / span 3;
    grid-column: 1;
    background-color: $sub-color;
    @media (max-width: 690px) {
      grid-row: 3;
      grid-column: 1 / span 2;
      border-radius: 0;
      margin-top: 0;
    }
  }
  header {
    position: sticky;
    top: 0;
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: $main-color;

    .logo {
      margin-left: 20px;
      font-weight: bold;
      color: #fff;
    }
  }
  main {
    grid-row: 2 / span 3;
    grid-column: 2;
    overflow-y: auto;
  }
}
