:root {
  --main-color: #aa271f;
  --sub-color: #b9adac;
  --light-base-color: #e5e5e5;
}

body {
  margin: 0;
  background-color: var(--light-base-color);
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

