:root {
  --main-color: #aa271f;
  --sub-color: #b9adac;
  --light-base-color: #e5e5e5;
}

body {
  margin: 0;
  background-color: var(--light-base-color);
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.base-button {
  padding: 10px 12px;
  background-color: var(--light-base-color);
  border: none;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bold;
  transition: 0.3s;

  &:hover {
    background-color: #c4c4c4;
  }
}
